.container-fluid
  .page-titles
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "javascript:void(0)"} Post
      %li.breadcrumb-item.active
        %a{:href => "javascript:void(0)"} New
  .row
    .card
      .card-body
        = form_for @post, data: {turbo: false} do |f|
          .form-row
            .form-group.col-md-6
              = f.label :title
              = f.text_field :title, class:"form-control", placeholder: "Title", required: true
            .form-group.col-md-6
              = f.label :link
              = f.text_field :link, class:"form-control", placeholder: "Link", required: true
            .form-group.col-md-12
              = f.label :text
              = f.text_area :text, class:"form-control", placeholder: "Text", required: true
            .form-group.custom-file
              =f.label :image, class: "col-lg-6 col-form-label custom-file-label"
              = f.file_field :image, placeholder: "Image", class: "custom-file-input"
          =f.submit class: "btn btn-warning my-4 text-white"
