!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body{:style => "margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f1f1f1; margin: 0 auto !important; padding: 0 !important; height: 100% !important; width: 100% !important; background: #f1f1f1;", :width => "100%"}
    %center{:style => "width: 100%; background-color: #f1f1f1;"}
      %div{:style => "display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;"}
      .email-container{:style => "max-width: 600px; margin: 0 auto; margin: 16px 0;"}
        %table{:cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "margin: auto; background-color:#ffffff", :width => "100%"}
          %tr
            %td.bg_white{:style => "padding: 1em 2.5em 0 2.5em;", :valign => "top"}
              %table{:cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                %tr
                  %td.logo{:style => "text-align: center; margin: 0;"}
          %tr
            %td.hero.bg_white{:style => "padding: 3em 0 2em 0; text-align: center;", :valign => "middle"}
              %div
                / =image_tag "logo.png", width: '50rem;'
                =image_tag "puzzle.svg", width: '180rem;'
          %tr
            %td.hero.bg_white{:style => "padding: 2em 0 4em 0; position: relative; z-index: 0; text-align: center;", :valign => "middle"}
              %table
                %tr
                  %td
                    .text{:style => "padding: 0 2.5em; text-align: center; color: rgba(0,0,0,.3);"}
                      %h3{:style => "font-size: 24px; font-weight: 300; font-family: 'Lato', sans-serif; color: rgba(0,0,0); margin-top: 0;"} 
                        Verify your email address so we know it's really you. We look forward to sending you important information about your LANTERN account.
                      = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
        %table{:cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "margin: auto; background-color: #fafafa;", :width => "100%"}
          %tr
            %td.bg_light.footer.email-section{:style => "border-top: 1px solid rgba(0,0,0,.05); color: rgba(0,0,0,.5); padding:2.5em;", :valign => "middle"}
              %table{:style => " background-color: #fafafa; text-indent: initial;"}
                %tr
                  %td{:style => "padding-top: 20px;", :valign => "top", :width => "33.333%"}
                    %table{:cellpadding => "0", :cellspacing => "0", :role => "presentation", :width => "100%"}
                      %tr
                        %td{:style => "text-align: left; padding-right: 10px;"}
                          %h3.heading{:style => " color: #000000; font-size: 20px; font-family: 'Lato', sans-serif; font-weight: 400;"} About
                          %p{:style => "font-weight: 400; font-size:15px; line-height: 2;"} Dismantling systemic oppression with using a multimedia platform.
                  %td{:style => "padding-top: 20px;", :valign => "top", :width => "33.333%"}
                    %table{:cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => "border-spacing: 0 !important; border-collapse: collapse !important; table-layout: fixed !important; margin: 0 auto !important;  background-color: #fafafa; text-indent: initial;", :width => "100%;"}
                      %tr
                        %td{:style => "text-align: left; padding-left: 5px; padding-right: 5px; mso-table-lspace: 0pt !important; mso-table-rspace: 0pt !important;"}
                          %h3.heading{:style => " color: #000000; font-size: 20px; font-family: 'Lato', sans-serif; font-weight: 400;"} Contact Info
                          %ul{:style => "margin: 0; padding: 0; font-weight: 400; font-size:15px; line-height: 2; padding-left: 0;"}
                            %li{:style => "list-style: none; margin-bottom: 10px;"}
                              %span.text{:style => ""} Harriet Tubman Effect
                            %li{:style => "list-style: none; margin-bottom: 10px;"}
                              %span.text 991 Pacific St. Brooklyn
                            %li{:style => "list-style: none; margin-bottom: 10px;"}
                              %span.text NY 11238
                  %td{:style => "padding-top: 20px;", :valign => "top", :width => "33.333%"}
                    %table{:cellpadding => "0", :cellspacing => "0", :role => "presentation", :style => " background-color: #fafafa; text-indent: initial;", :width => "100%"}
                      %tr
                        %td{:style => "text-align: left; padding-left: 10px;"}
                          %h3.heading{:style => " color: #000; font-size: 20px; font-family: 'Lato', sans-serif; font-weight: 400;"} Useful Links
                          %ul{:style => "list-style-type: none; padding-left: 0;"}
                            %li{:style => " margin-bottom: 10px;"}= link_to "Home", "", style:"text-decoration: none; font-weight: 400; font-size:15px; color: #000000;"
                            %li{:style => " margin-bottom: 10px;"}= link_to "Help", "", style:"text-decoration: none; font-weight: 400; font-size:15px; color: #000000;"
                            %li{:style => " margin-bottom: 10px;"}= link_to "About", "", style:"text-decoration: none; font-weight: 400; font-size:15px; color: #000000;"
                            %li{:style => " margin-bottom: 10px;"}= link_to "Services", "", style:"text-decoration: none; font-weight: 400; font-size:15px; color: #000000;"
                            %li{:style => " margin-bottom: 10px;"}= link_to "Contact Us", "", style:"text-decoration: none; font-weight: 400; font-size:15px; color: #000000;"
          %tr
            %td.bg_light{:style => "text-align: center;"}
              %p{:style => "color: rgba(0,0,0,.5); font-weight: 400; font-size:15px"} Edify
